# CMake / build
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/cmake-build-debug/
/cmake-build-*/
/build/
/bin/
/lib/
/Debug/
/Release/
/*.o
/*.obj
/*.exe
/*.dll
/*.lib
/*.pdb
/*.ilk
/*.idb
/*.so
/*.a
/*.app
/*.dSYM/

# IDEs
/.idea/
/.vscode/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln
*.vcxproj*
*.vcproj*

# Operating system files
.DS_Store
Thumbs.db

# Logs and temporary
*.log
*.tmp
*.temp
*.cache

# FetchContent / external deps
_deps/
googletest-src/
googletest-populate-*/

# Other
.env
.vcpkg_installed
*.pyc

# Ignore generated assets / tooling
/assets/build/

# Keep this repo clean
.gitignore
.idea

/out
/out/*

.vs
.vs/*